# OS
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
.DocumentRevisions-V100
.fseventsd
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Windows
Thumbs.db
Thumbs.db:encryptable
Desktop.ini
$RECYCLE.BIN/

# Linux
.Trash-*

# Editors/IDEs
.idea/
*.iml
.vscode/
*.sublime-workspace
*.sublime-project
*~
*.swp
*.swo
*.tmp

# Logs
*.log

# Environment
.env
.env.*

# Misc
.cache/
